{% extends 'blog/base.html' %}

{% block title %}
    {% if form.instance.pk %}Edit Post{% else %}Create New Post{% endif %} - Django Blog
{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit Post{% else %}Create New Post{% endif %}</h1>

    <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <label>Title:</label>
        {{ form.title }}
        {% if form.title.errors %}
            <span>{{ form.title.errors.0 }}</span>
        {% endif %}
        <label>Content</label>
        {{ form.content }}
        {% if form.content.errors %}
            <span>{{ form.content.errors.0 }}</span>
        {% endif %}

        <button type="submit">{% if form.instance.pk %}Updaate Post{% else %}Publish Post{% endif %}</button>
        <a href="{% if form.instance.pk %}{% url 'post-detail' form.instance.pk %}{% else %}{% url 'posts' %}{% endif %}">Cancel</a>
    </form>
{% endblock %}