{% extends 'blog/base.html' %}

{% block title %}Posts tagged "{{ tag.name }}" - Django Blog{% endblock %}

{% block content %}
    <div>
        <h1>Posts tagged with "{{ tag.name }}"</h1>


        <p>Showing <strong>{{ posts.count }}</strong> post{{ posts.count|pluralize }} with this tag</p>
        <a href="{% url 'posts' %}" class="btn btn-secondary">← View All Posts</a>

        {% if posts %}
            {% for post in posts %}
                <h2><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>

                <span class="author">By {{ post.author.username }}</span>
                <span class="date">{{ post.published_date|date:"F d, Y" }}</span>

                <!-- TAGS -->
                {% if post.tags.all %}
                    <div class="post-tags-small">
                        {% for post_tag in post.tags.all %}
                            <a href="{% url 'tagged-posts' post_tag.slug %}" class="tag-badge-small {% if post_tag == tag %}active{% endif %}">
                                {{ post_tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <p class="post-excerpt">{{ post.content|truncatewords:50 }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="read-more">Read More &rAarr;</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}